.THIS.whiteBlock {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 70px;
    padding-bottom: 50px;
}
.THIS.whiteBlock .row{
    margin-left: 0;
    margin-right: 0;
}
.THIS.whiteBlock:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.THIS.whiteBlock .row{
    margin-left: 0;
    margin-right: 0;
}
.THIS.whiteBlock p:not(.infoBolder){
    font-family: HouschkaPro-Medium;
    font-size: 16px;
    color: #3f3830;
    color: var(--greyish-brown);
}

.THIS a.Text-Style-OrangeLink {
    font-family: HouschkaPro-Medium;        
    display: block;
    line-height: 1.8;
}
.THIS a.Text-Style-OrangeLink:focus, .THIS .Text-Style-OrangeLink:active, .THIS .Text-Style-OrangeLink:hover {
    text-decoration: none;
    color: #fe5815;
    color: var(--brand-color);
}
.THIS.whiteBlock.row div.col-eq-height {
    text-align: right;
}

h2.THIS {
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
}

@media (min-width: 992px){
    .THIS.whiteBlock.row {
        display: table;
        width: 100%;
    }
    .THIS.whiteBlock.row div[class*="col-"]{
        display: table-cell;
    }
    .THIS.whiteBlock.row div.col-100{
        width: 100%;
    }
    .THIS.whiteBlock.row div.col-eq-height{
        float: none;
        vertical-align: middle;
        text-align: left;
    }
}

/* PROGRESS BAR */
.THIS .checkout-wrap {
    margin: 30px auto 100px;
    z-index: 0;
}
.THIS ul.checkout-bar li {
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    /* margin: 50px auto; */
    padding: 0;
    text-align: center;
}
.THIS ul.checkout-bar li:after {
    background: #d9d9d9;
    border: 2px solid #FFF;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    height: 20px;
    left: 45%;
    line-height: 20px;
    position: absolute;
    top: -55px;
    width: 20px;
    z-index: 99;
}
.THIS ul.checkout-bar li.done:after, .THIS ul.checkout-bar li.inProgress:after {
    background: #00ceaa;
    border: 2px solid #FFF;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    height: 34px;
    left: 43%;
    line-height: 34px;
    position: absolute;
    top: -65px;
    width: 34px;
    z-index: 99;
}
.THIS div.checkout-wrap.wrap2 ul.checkout-bar li:after, .THIS div.checkout-wrap.wrap2 ul.checkout-bar li.done:after, .THIS div.checkout-wrap.wrap2 ul.checkout-bar li.inProgress:after {    
    left: 48%;
}
.THIS div.checkout-wrap.wrap3 ul.checkout-bar li:after, .THIS div.checkout-wrap.wrap3 ul.checkout-bar li.done:after, .THIS div.checkout-wrap.wrap3 ul.checkout-bar li.inProgress:after {    
    left: 46%;
}
.THIS ul.checkout-bar li.inProgress:after {
    background: #fe5815;
}
.THIS ul.checkout-bar li.done {
    color: #00ceaa;
}
.THIS ul.checkout-bar li.done:after {
    content:"✓";
}
.THIS ul.checkout-bar li.inProgress:after {
    content:" ";
}
.THIS ul.checkout-bar li.notStarted:after {
    content:" ";
}
.THIS .checkout-bar li.done:not(:first-child):before {
    background-color: #00ceaa;
}
.THIS .checkout-bar li.inProgress:not(:first-child):before, .THIS .checkout-bar li.done:not(:first-child):before {
    content:"";
    height: 2px;
    width: 100%;
    right: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
    background-color: #00ceaa;
}
.THIS ul.checkout-bar {
    height: 2px;
    margin: 0 -15px 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
.THIS.whiteBlock .checkoutWrapper p.checkoutContent{
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
}


@media (max-width: 1000px) { 
    .THIS .checkout-wrap {
        transform: rotate(90deg) scale(0.75) translate(-30px, -30px);
        min-width: 500px;
        transform-origin: 0 0;
    }
    .THIS .checkoutWrapper {
        transform: translate(45%, -8rem) rotate(-90deg);
        transform-origin: 0 0;
        text-align: left;
    }
    .THIS ul.checkout-bar li.done:after, .THIS ul.checkout-bar li.inProgress:after {
        transform: rotate(-90deg);
    }
    .THIS.whiteBlock {
        margin: 0px;
        padding: 0px;
    }
    .THIS .checkoutTitle {
        text-align: left;
        white-space: nowrap;
        margin-bottom: 0px;
    }
    .THIS .checkoutWrapper p.checkoutContent {
        text-align: left;
    } 
    .THIS .col-xs-4 {
        width: 25%;
    }
    .THIS .checkout-wrap:after {
        content: " ";
        margin-bottom: 50%;
        height: 20px;
        display: block; 
    }
}