.THIS {
}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 21.6%;
  height: 2px;
  background-color: #fe5815;
} 

.THIS .btnRDC img, .THIS .btnIntermediaire img, .THIS .btnDernier img {
  width: 43px;
  height: 40px;
  margin-bottom: 13px;
}

.THIS .btnCorner img, .THIS .btnBetween img {
  width: 50px;
  height: 22px;
  margin-bottom: 18px;
}
   
/* Label */
.THIS label {
	height: 100px;
	width: 200px;
	padding-top: 15px;
}