.THIS {
}
.THIS.modal {
	top: 30%;
	min-height: 230px;
}
.THIS .modal-dialog {
	width: 50%; 
	top: 10px;
	border-radius: 2px;
	background-color: #ffffff;
	box-shadow: 0 0 50px 25px rgba(106, 106, 106, 0.33);
	margin: auto;
}

.THIS .Noted {
	height: 22px;
	font-family: HouschkaPro-Bold;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	text-align: center;
	color: #fe5815;
	color: var(--brand-color);
	display: block;
	margin-top: 60px;
	cursor: pointer;
}
.THIS .warningOfferNotCompatible {  
    font-family: HouschkaPro-Medium;
    font-size: 16px; 
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    text-align: center;
    color: #3f3830;
    color: var(--greyish-brown);
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 57.6%;
  height: 2px;
  background-color: #fe5815;
} 

.THIS .secondLine {
  margin-bottom: 30px;
}

.THIS .age {
  margin-top: -10px;
}

/*buttons*/
.THIS label { 
  width: 200px;
  height: 100px; 
  padding-top: 19px;
}

.THIS .btnElectric img {
  width: 36px;
  height: 26px;
  margin-bottom: 17px;
}

.THIS .btnPump img {
  width: 43px;
  height: 25px;
  margin-bottom: 18px;

}

.THIS .btnGaz img { 
  height: 38px;
  margin-bottom: 5px;
  margin-top: -10px;
}

.THIS .btnOther img {
  width: 26px;
  height: 7px;
  margin-bottom: 18px;
  margin-top: 8px;
} 

/*buttons boiler's age*/
.THIS .btnAge {
  width: 131px;
  height: 61px;
  border-radius: 2px;
  border: solid 1px #e1e1e1;
  font-family: HouschkaPro-Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  color: #3f3830;
}
  
@media (max-width: 800px) {   
  .THIS .btnNone .txtBtn {
    width: 113px;
  }
  .THIS .modal-dialog { 
  	width: 80%;
  }
}