.THIS.whiteBlock { 
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;  
	padding-top: 0px;  
	min-height: 160px;
}

.THIS hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.THIS .activitiesContainer {
	font-family: 'HouschkaPro-Medium';
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.THIS .boldPolice {
	font-family: 'HouschkaPro-Bold';
}

.THIS .activityLine {
	width: 100%;
}

.THIS .activityMainDesc {  
	font-family: HouschkaPro-Medium;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	color: #b5b6b7;
	color: var(--cool-grey-two); 
	display: inline;
}
.THIS .activityLabel { 
	font-family: HouschkaPro-Medium;
	font-size: 16px; 
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	color: #3f3830;
	color: var(--greyish-brown);	 
}

.THIS .iconContainer { 
	max-width: 60px;
	height: 100%;
}

.THIS .infoContainer { 
	padding-top: 5px;
	padding-bottom: 5px;
}

.THIS .clearer {
	clear: both; 
}

.THIS .activityDate {
	font-family: HouschkaPro-Medium;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	color: #b5b6b7;
	color: var(--cool-grey-two);
	margin-right: 20px;
	display: inline;	 
}

.THIS .activityLink {
	margin-left: 20px;
}

.THIS  a.Text-Style-OrangeLink {
	display: inline;
	color: #fe5815;
}
.THIS a.Text-Style-OrangeLink:visited {
	display: inline;
	color: #fe5815;
	text-decoration: none;
}
.THIS a.Text-Style-OrangeLink:hover {
	display: inline;
	color: #fe5815;
	text-decoration: none;
}
h2.THIS {
	font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
    text-transform: uppercase;
}   
.THIS .iconInvoice {
    background-color: #fe5815;
    width: 10px;
    border-radius: 100%;
    height: 10px;
}
.THIS .iconActivity {
    margin-top: 20px;
    margin-left: 20px;	
}
.THIS .iconContract {
	width: 17px;
	height: 22px;
}
.THIS .iconRDV {
	width: 25px;
	height: 23px;
	margin-left: 10px;
}
.THIS .iconChange {
	width: 24px;
	height: 19px;
}
.THIS .orangeBackground {
	background-color: #fff5f2;
}