.THIS {
}

/*progress bar*/
.THIS.progressBar{
  margin-left: -35px;
  width: 100%;
  height: 2px;
  background-color: #ecf1f5;
}

.THIS.progressBar .orangeBar{
  width: 7.2%;
  height: 2px;
  background-color: #fe5815;
}

/*header*/
.THIS.titleBlock{
  height: 190px;
  background-color: #ecf1f5;
}

.THIS.titleBlock h1{
  font-family: HouschkaPro-Light;
  font-size: 36px;
  font-weight: 300;
  line-height: 190px;
  color: #3f3830;
  text-align: center;
}

.THIS h1{
  margin-top: 0px;
  /*position: absolute;
  left: 50%;*/
}

/*text zone at the right*/
.THIS .text{
  float: right;
  padding-top: 65px;
}

.THIS .text h2{
  width: 364px;
  font-family: HouschkaPro-DemiBold;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.17;
  color: #3f3830;
  margin-bottom: 30px;
}

.THIS .text1{
  width: 400px;
  font-family: HouschkaPro-Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  color: #3f3830;
}

.THIS .text1 .strong{
  font-family: HouschkaPro-Bold;
}

.THIS .text2{
  width: 400px;
  font-family: HouschkaPro-Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;
  color: #b5b6b7;
  margin-bottom: 32px;
}

/*download app buttons*/
.THIS .btnApple{
  width: 120px;
  height: 41.5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 19px;
}
.THIS .btnGoogle {
  width: 120px;
  height: 44px;
  margin-top: 30px;
  margin-bottom: 30px;
}
 
/*start button*/
.THIS .btnStart{
  margin-top: 20px;
  width: 170px;
  height: 42px;
  border-radius: 100px;
  background-color: #fe5815 !important;
  border: 0px !important;
  font-family: HouschkaPro-Bold;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
}

.THIS a{
  text-decoration: none !important;
}

.THIS button:focus{
  outline: none !important;
}

/*image station and phome*/
.THIS .station{
  z-index: 1;
  width: 449px;
  /*height: 638px;*/
  margin-top: -53px;
}

.THIS .imgStation{
  text-align: center;
}

@media(max-width: 1200px){
  .THIS .imgStation, .THIS .text{
    width: 100%;
  }
  .THIS .text h2, .THIS .text1, .THIS .text2 {
    margin: auto;
  }
  .THIS .linkBtn, .THIS .btnStartContainer{
    text-align: center;
  }
  .THIS .text h2{
    margin-bottom: 10px;
  }
}

@media(max-width: 450px){
  .THIS .imgStation img{
    max-width: 240px;
  }

  .THIS .text h2{
    width: 280px;
    margin-left: 20px;
  }

  .THIS.titleBlock h1{
    font-size: 26px;
  }
}

@media(min-width: 300px) and (max-width: 800px){
  .THIS .text1, .THIS .text2, .THIS .text h2{
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .THIS .text{
    padding-top: 20px;
  }

  .THIS .linkBtn, .THIS .btnStartContainer{
    text-align: center;
  }

  .THIS .btnStartContainer{
    margin-bottom: 40px;
  }
}