.THIS {
}
.THIS.whiteBlock {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    padding-top: 30px;
    padding-bottom: 20px;
}
.THIS.whiteBlock p:not(.infoBolder){
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #3f3830;
    color: var(--greyish-brown);
}
h2.THIS {
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
}
.THIS.whiteBlock p.plus {
	font-size: 27px;
}
.THIS.whiteBlock .subscriptionsContainer {
	display: table;
	width: 100%;
    margin: 0;
    padding: 0;
}
.THIS.whiteBlock .subscriptionsContainer img {
    max-width: 100%;
    height: auto;
}
.THIS.whiteBlock .subscriptionsContainer .subscriptionItem, .THIS.whiteBlock .subscriptionsContainer .plus {
	display: table-cell;
	float: none;
	vertical-align: bottom;
}
 .THIS.whiteBlock .subscriptionsContainer .plus {
	vertical-align: middle;
}