.THIS {
}

.THIS.page {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 79.2%;
  height: 2px;
  background-color: #fe5815;
}    

/*buttons*/
.THIS label { 
  width: 200px;
  height: 100px; 
}
  
.THIS .btnWineCellar img {
  height: 38px;
  margin-top: 17px;
  margin-bottom: 14px;
}

.THIS .btnSwimmingPool img {
  height: 33px;
  margin-top: 26px;
  margin-bottom: 9.8px;
}

.THIS .btnAquarium img {
  height: 38px;
  margin-top: 12px;
  margin-bottom: 18px;
}

.THIS .btnNone img {
  height: 28px;
  margin-top: 14px;
  margin-bottom: 6px;
}
   

@media (max-width: 800px) { 

  .THIS .btnNone .txtBtn {
    width: 113px;
  }

  .THIS .underTitle {
    font-size: 16px;
  }
}