.THIS {
}
.THIS.navbar-default {
    background-color: #ffffff;
    border-bottom: solid 1px var(--warm-grey-20);
    margin-bottom: 0;
}
.THIS .navbar-nav li span.navLinks {
    line-height: 37px;
}
.THIS .navbar-nav li span.navLinks.currentSection {
    font-family: HouschkaPro-Bold;
}
.THIS .navbar-nav li a.navIcon {
    padding-top: 20px;
    padding-bottom: 20px;
}
.THIS .navbar-nav li span.navLinks.Text-Style {

}
/*
.THIS .navbar-nav li span.navLinks img.searchIcon {
    vertical-align: baseline;
}
*/
.THIS .navbar-nav li span.navLinks img.ecIcon {
    vertical-align: text-bottom;
    margin-right: 20px;
}
.THIS .btn-separator {
	float: left;
}
.THIS .btn-separator::after {
    content: ' ';
    display: block;
    float: left;
    background: #d9d9d9;
    background: var(--white);
    margin: 21px 10px;
    height: 24px;
    width: 1px;
}
.THIS ul#navbarCollapse .btn-separator {
	display: none;
}
.THIS.navbar-default .navbar-toggle, .THIS.navbar-default .navbar-toggle:hover, .THIS.navbar-default .navbar-toggle:focus {
    padding: 15px 0 10px;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #ffffff;
	border: 0;
}
.THIS.navbar-default .navbar-toggle .icon-bar {
	background-color: #fe5815;
	background-color: var(--brand-color);
    width: 25px;
    height: 3px;
}
.THIS.navbar-default .navbar-toggle .glyphicon.glyphicon-remove {
	background-color: #ffffff;
	color: #fe5815;
	color: var(--brand-color);
}
.THIS.navbar-default .navbar-toggle.collapsed {
    padding: 20px 0 10px;
}
.THIS.navbar-default .navbar-toggle .icon-bar {
	display: none;
}
.THIS.navbar-default .navbar-toggle.collapsed .icon-bar {
	display: block;
}
.THIS.navbar-default .navbar-toggle.collapsed .glyphicon.glyphicon-remove {
	display: none;
}
.THIS.navbar-default .navbar-toggle .glyphicon.glyphicon-remove {
	display: block;
}
.THIS.navbar-default .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 5px;
}

@media only screen and (max-width : 767px) {	
	.THIS .container-fluid {
		padding-right: 20px;
		padding-left: 20px;
	}
	.THIS .navbar-nav {
	    margin: 7.5px 0;
	}
	.THIS .navbar-nav>li>a {
		padding: 10px 0;
	}
	.THIS .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
	.THIS ul#navbarCollapse .btn-separator {
		display: none;
	}
	.THIS ul#navbarCollapse.in {
	    display: block;
	    overflow-y: visible;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	    background: white;
	}
	.THIS .nav>li:not(:last-child) {
	    border-bottom: solid 1px var(--warm-grey-20);
	}
	.THIS .navbar-nav li span.navLinks img.ecIcon {
    	display: none;
	}
}
@media only screen and (min-width : 768px) {
	.THIS.navbar {
	    height: 67px;
	}
	.THIS ul#navbarCollapse .btn-separator {
		display: block;
	}
}