.THIS {
}
.THIS.blueBlock {
    background-color: #f7fbfe;
    background-color: var(--duck-egg-blue);
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 150px !important; /*KUMBI-381*/
}

.THIS.blueBlock .noTopMargin{
    margin-top: 0;
}
h2.THIS {
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
}
.THIS.blueBlock p:not(.infoBolder){
    font-family: HouschkaPro-Medium;
    font-size: 16px;
    color: #3f3830;
    color: var(--greyish-brown);
}
.THIS input[type=checkbox] {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border: 1px solid #fe5815;
    border: 1px solid var(--brand-color);
    margin: 0;
    margin-top: 5px;
}
.THIS input[type=checkbox]:focus{
    outline:0;
}
.THIS input[type=checkbox]:checked {
    background: #ffffff;
    -webkit-transition: color .8s,background-color .8s,border .8s,opacity .8s;
    transition: color .8s,background-color .8s,border .8s,opacity .8s;
}
.THIS input[type=checkbox]:checked:after {
    display: block;
    position: relative;
    content: '';
    height: 5px;
    width: 8px;
    border-bottom: 1px solid #fe5815;
    border-bottom: 1px solid var(--brand-color);
    border-left: 1px solid #fe5815;
    border-left: 1px solid var(--brand-color);
    box-sizing: content-box;
    -webkit-transform: translate(4px, 5px) rotate(-45deg);
    margin-top: -4px;
    margin-left: -2px;
}
.THIS .soweeNewsLetters, .THIS .soweePartnersNewsLetters {
	display: inline-block;
    height: 40%;
}
.THIS .soweeNewsLetters div, .THIS .soweePartnersNewsLetters div {
    margin-top: 20px;
}
.THIS .newsLettersSeparator {
    height: 20%;
}