<apex:page showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" controller="SICo_MyContracts_VFP">
    <html>
        <head>
            <script>
                var jsAccountId = "{!JSENCODE(accountId)}";
                var jsCurrentPage = "{!$Label.SICo_Contracts}";

                var init = function(){ head.load(
                    "{!$Resource.JQuery3}",
                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/bootstrap.js')}",
                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_CommonComponentsScript.js')}",
                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_ResponsiveScripts.js')}",
                    function() {
                    	createGenericAppWithComponents();
                    }
                )}
            </script>

            <style>
                #myContracts .link{
                    display: inline-block;
                }
            </style>  
            <c:SICo_CommunitiesHead_COMP />
            <c:SICo_CustomerArea_StyleSheets />
            <apex:includeLightning /> 
        </head>

        <body id="myContracts">

            <div class="loader"/>
            <div id="topbanner" />

            <div>
                <div id="leftMenu" />

                <apex:form >
                
                    <apex:outputPanel layout="block" styleClass="pageContractBlueContainer">
                        <apex:outputPanel layout="block" styleClass="pageContractContainer">
                            <apex:outputText styleClass="titleContracts" value="{!$Label.SICo_ContratsTitle}"/><br/>


                            <!-- GAZ / SOWEE Contract -->
                            <apex:outputPanel styleClass="contratContainer" rendered="{!isSoweeContract}">

                                <!--<apex:outputText styleClass="titleContractsType" value="{!$Label.SICo_SoweeContract}"/> -->

                                <apex:outputPanel layout="block" styleClass="whiteContractContainer">
                                    <apex:outputPanel layout="block" styleClass="whiteContractContainerHeader">
                                        <apex:outputPanel styleClass="logocontainer col-xs-2">
                                            <img class="logoContracts" src="{!URLFOR($Resource.SICo_EspaceClient_Resources,'img/icone-gaz-contrat/icone-gaz-contrat-espace-client@2x.png')}"/>
                                        </apex:outputPanel>
                                        
                                        <apex:outputText styleClass="titleWhiteContainerHeader" value="{!soweeContract.title}"/><br/>
                                        <!-- <apex:outputText styleClass="secondTitleWhiteContainerHeader" value="{!soweeContract.subTitle}"/> -->
                                    </apex:outputPanel>

                                    <!--apex:outputPanel layout="block" styleClass="detailContainer"-->
                                    <table class="detailContainer">
                                    <tr>
                                        <th><apex:outputText styleClass="detailTitle" value="{!$Label.SICo_Facturation}"/></th>
                                        <th><apex:outputText styleClass="detailText" value="{!soweeContract.facturation}"/></th>
                                    </tr>
                                    <!--
                                    <tr>
                                        <th><apex:outputText styleClass="detailTitle" value="{!$Label.SICo_CoveredZone}"/></th>
                                        <th><apex:outputText styleClass="detailText" value="{!soweeContract.coveredZone}"/></th>
                                    </tr>
                                    -->
                                    <tr>
                                        <th><apex:outputText styleClass="detailTitle" value="{!$Label.SICo_TermStartDate}"/></th>
                                        <th><apex:outputText styleClass="detailText" value="{!soweeContract.startDate}"/></th>
                                    </tr>
                                    <tr>
                                        <th><apex:outputText styleClass="detailTitle" value="{!$Label.SICo_GasSubscription}" rendered="{!soweeContract.gasSubscription != ''}"/></th>
                                        <th><apex:outputText styleClass="detailText" value="{!soweeContract.gasSubscription}"/></th>
                                    </tr>
                                    <tr>
                                        <th><apex:outputText styleClass="detailTitle" value="{!$Label.SICo_KwhPrice}"/></th>
                                        <th>
                                            <apex:outputText styleClass="detailText" value="{!soweeContract.price}" rendered="{!soweeContract.price != ''}"/>
                                            &nbsp;&nbsp;&nbsp;
                                            <!--
                                            <apex:outputLink value="{!$Label.SICo_LinkPricesDoc}" target="_blank" styleClass="link">{!$Label.SICo_SeePricesMenu}</apex:outputLink>
                                            -->
                                        </th>
                                    </tr>
                                    </table>

                                    <apex:outputPanel layout="block" styleClass="whiteContractContainerFooter" rendered="{!soweeContract.contractDownloadLink != ''}">

                                        <apex:outputLink value="{!soweeContract.contractDownloadLink}" styleClass="seeContractButton linkDownloadContract" rendered="{!soweeContract.contractDownloadLink != ''}" target="_blank">
                                            {!$Label.SICo_SeeMyContract}
                                        </apex:outputLink>
                                        <apex:outputPanel style="border-width: 0px;" styleClass="seeContractButton linkDownloadContract" rendered="{!soweeContract.contractDownloadLink = ''}">
                                            &nbsp;
                                        </apex:outputPanel>
                                        <!-- Old Contracts list is not managed in MVP -
                                        <apex:outputLink value="{!soweeContract.linkOldContracts}" styleClass="link" style="margin-right: 76px;">
                                            {!$Label.SICo_SeeMyOldContracts}
                                        </apex:outputLink>
                                        -->
                                        <apex:outputLink value="https://c43.force.com/servlet/servlet.FileDownload?file=015580000017GMT" target="_blank" styleClass="link lnkSpaceRight">{!$Label.SICo_ReadGasSecurityNotes}</apex:outputLink>
                                    	<apex:outputLink value="{!soweeContract.linkAttestationsReports}" styleClass="link" rendered="{!soweeContract.hasReports && !isMaintenanceContract}">{!$Label.SICo_SeeMyReportsAndCertificates}</apex:outputLink>
                                        <!-- not working as of nov.18
                                        <apex:outputLink value="{!$Label.SICo_LinkGazSecurityNote}" target="_blank" styleClass="link">{!$Label.SICo_ReadGasSecurityNotes}</apex:outputLink> -->
                                    </apex:outputPanel>
                                    <apex:outputPanel layout="block" styleClass="whiteContractContainerFooter" rendered="{!soweeContract.contractDownloadLink = ''}">
                                        <!-- Old Contracts list is not managed in MVP -
                                        <apex:outputLink value="{!soweeContract.linkOldContracts}" styleClass="link" style="margin-right: 76px;">
                                            {!$Label.SICo_SeeMyOldContracts}
                                        </apex:outputLink>
                                        -->
                                        <apex:outputLink value="https://c43.force.com/servlet/servlet.FileDownload?file=015580000017GMT" target="_blank" styleClass="link lnkSpaceRight">{!$Label.SICo_ReadGasSecurityNotes}</apex:outputLink>
                                        <!-- not working as of nov.18
                                        <apex:outputLink value="{!$Label.SICo_LinkGazSecurityNote}" target="_blank" styleClass="link">{!$Label.SICo_ReadGasSecurityNotes}</apex:outputLink> -->
                                        <apex:outputLink value="{!soweeContract.linkAttestationsReports}" styleClass="link lnkSpaceRight" rendered="{!soweeContract.hasReports && !isMaintenanceContract}">{!$Label.SICo_SeeMyReportsAndCertificates}</apex:outputLink>

                                    </apex:outputPanel>
                                </apex:outputPanel>

                                <span class="cancelLink">
                                    <apex:outputLink styleClass="link" value="{!soweeContract.linkCancelContracts}">
                                        {!$Label.SICo_IwantCancelContract}
                                    </apex:outputLink>
                                    <br/>
                                </span>

                            </apex:outputPanel>


                            <!-- MAINTENANCE Contract -->
                            <apex:outputPanel styleClass="contratContainer" rendered="{!isMaintenanceContract}">

                                <!-- <apex:outputText styleClass="titleContractsType" value="{!$Label.SICo_MaintenanceContract}"/> -->

                                <apex:outputPanel layout="block" styleClass="whiteContractContainer">
                                    <apex:outputPanel layout="block" styleClass="whiteContractContainerHeader">
                                        <apex:outputPanel styleClass="logocontainer col-xs-2">
                                            <img class="logoContracts" src="{!URLFOR($Resource.SICo_EspaceClient_Resources,'img/icone-chaudiere-contrat/icone-chaudiere-contrat-espace-client@2x.png')}"/>
                                        </apex:outputPanel>
                                        <apex:outputText styleClass="titleWhiteContainerHeader" value="{!maintenanceContract.title}"/>
                                        <apex:outputLink value="{!linkDownloadAttestation}" styleClass="seeContractButton attestationBuuton" rendered="{!linkDownloadAttestation != ''}" target="_blank">{!$Label.SICo_DownloadContractCertificate}</apex:outputLink><br/>
                                    </apex:outputPanel>

                                    <table class="detailContainer leftDetailContainer col-xs-10 col-md-5">
                                    <tr>
                                        <th><apex:outputText styleClass="titleWhiteContainerHeader" value="{!$Label.SIco_MyContract}"/></th>
                                        <th><apex:outputText styleClass="titleWhiteContainerHeader" value=""/></th>
                                    </tr>
                                    <tr>
                                        <th><apex:outputText styleClass="detailTitle" value="{!$Label.SICo_ContractDateRenewal}"/></th>
                                        <th><apex:outputText styleClass="detailText" value="{!maintenanceContract.endDate}"/></th>
                                    </tr>
                                    <tr>
                                        <th><apex:outputText styleClass="detailTitle" value="{!$Label.SICo_DateLastFurnaceCheckup}"/></th>
                                        <th><apex:outputText styleClass="detailText" value="{!maintenanceContract.lastBoilerCheckup}"/></th>
                                    </tr>
                                    </table>

                                    <!--span class="verticalLine col-xs-1"/-->

                                    <table class="detailContainer col-xs-10 col-md-5">
                                    <tr>
                                        <th><apex:outputText styleClass="titleWhiteContainerHeader" value="{!$Label.SICo_MyFurnace}"/></th>
                                        <th><apex:outputText styleClass="detailText" value=""/></th>
                                    </tr>
                                    <tr>
                                        <th><apex:outputText styleClass="detailTitle" value="{!$Label.SICo_FurnaceBrand}"/></th>
                                        <th><apex:outputText styleClass="detailText" value="{!maintenanceContract.boilerBrand}"/></th>
                                    </tr>
                                    <tr>
                                        <th><apex:outputText styleClass="detailTitle" value="{!$Label.SICo_FurnaceModel}"/></th>
                                        <th><apex:outputText styleClass="detailText" value="{!maintenanceContract.boilerModel}"/></th>
                                    </tr>

                                    </table>

                                    <apex:outputPanel layout="block" styleClass="whiteContractContainerFooter" rendered="{!maintenanceContract.contractDownloadLink != ''}">

                                        <apex:outputLink value="{!maintenanceContract.contractDownloadLink}" styleClass="seeContractButton linkDownloadContract" rendered="{!maintenanceContract.contractDownloadLink != ''}" target="_blank">
                                            {!$Label.SICo_SeeMyContract}
                                        </apex:outputLink> 

                                        <apex:outputPanel style="border-width: 0px;" styleClass="seeContractButton linkDownloadContract" rendered="{!maintenanceContract.contractDownloadLink = ''}">
                                            &nbsp;
                                        </apex:outputPanel>
                                        <!-- Old Contracts list is not managed in MVP -
                                        <apex:outputLink value="{!maintenanceContract.linkOldContracts}" styleClass="link" style="margin-right: 76px;">
                                            {!$Label.SICo_SeeMyOldContracts}
                                        </apex:outputLink>
                                        -->
                                        <apex:outputLink value="{!maintenanceContract.linkAttestationsReports}" styleClass="link" style="margin-right: 76px;" rendered="{!maintenanceContract.hasReports}">{!$Label.SICo_SeeMyReportsAndCertificates}</apex:outputLink>

                                        <apex:outputLink value="{!maintenanceContract.linkMyQuotes}" styleClass="link">
                                            {!$Label.SICo_QuoteViewMy}
                                        </apex:outputLink>

                                    </apex:outputPanel>
                                     <apex:outputPanel layout="block" styleClass="whiteContractContainerFooter" rendered="{!maintenanceContract.contractDownloadLink = ''}"> 
                                        <!-- Old Contracts list is not managed in MVP -
                                        <apex:outputLink value="{!maintenanceContract.linkOldContracts}" styleClass="link lnkSpaceRight">
                                            {!$Label.SICo_SeeMyOldContracts}
                                        </apex:outputLink>
                                        -->
                                        <apex:outputLink value="{!maintenanceContract.linkAttestationsReports}" styleClass="link lnkSpaceRight" rendered="{!maintenanceContract.hasReports}">{!$Label.SICo_SeeMyReportsAndCertificates}</apex:outputLink>

                                        <apex:outputLink value="{!maintenanceContract.linkMyQuotes}" styleClass="link">
                                            {!$Label.SICo_QuoteViewMy}
                                        </apex:outputLink>

                                    </apex:outputPanel>

                                </apex:outputPanel>


                                <span class="cancelLink">
                                    <apex:outputLink styleClass="link" value="{!maintenanceContract.linkCancelContracts}">
                                        {!$Label.SICo_IwantCancelContractRenewal}
                                    </apex:outputLink><br/>
                                </span>

                            </apex:outputPanel>

                            <!-- PRODUCT-ONLY Contract -->
                            <apex:outputPanel styleClass="contratContainer" rendered="{!productContract != null}">

                                <apex:outputPanel layout="block" styleClass="whiteContractContainer">
                                    <apex:outputPanel layout="block" styleClass="whiteContractContainerHeader" >
                                        <apex:outputPanel styleClass="logocontainer col-xs-2">
                                        </apex:outputPanel>
                                        <apex:outputText styleClass="titleWhiteContainerHeader"  value="{!productContract.title}"/><br/><br/>

                                        <apex:outputLink value="{!productContract.contractDownloadLink}" styleClass="linkDownloadCGV" rendered="{!productContract.contractDownloadLink != ''}" target="_blank">
                                            {!$Label.SICo_SeeCGV}
                                        </apex:outputLink><br/><br/>
	                                    <apex:outputPanel layout="block" styleClass="whiteContractContainerFooter" rendered="{!productContract.contractDownloadLink != ''}">
	                                        <apex:outputLink value="{!productContract.linkAttestationsReports}" styleClass="link lnkSpaceRight" rendered="{!productContract.hasReports && !isMaintenanceContract}">{!$Label.SICo_SeeMyReportsAndCertificates}</apex:outputLink>
	                                    </apex:outputPanel>

                                    </apex:outputPanel>

                                </apex:outputPanel>

                            </apex:outputPanel>


                        </apex:outputPanel>
                    </apex:outputPanel>
                </apex:form>

				<!-- HELP SECTION -->
				<div id="helpSectionXS" class="visible-xs col-xs-12" />
            </div>
            
        </body>
    </html>
</apex:page>