<apex:page showHeader="false" controller="SICo_ForgotPassword_VFC" title="{!$Label.site.forgot_password}" docType="html-5.0">
     <!-- head -->
    <head>
            <script>var init = function(){ head.load(
                    "{!$Resource.JQuery3}",
                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/bootstrap.js')}"
                ) }

              $Lightning.use("c:SICo_TopBannerContainer", 
                function() {
                  $Lightning.createComponent(
                      "c:SICo_TopBanner",
                      {
                          label : "TopBanner",
                          currentSection : "Espace Client"
                      },
                      "topbanner",
                      function() {}
                  );
                },
                '{!LEFT($CurrentPage.URL, FIND('.com', ($CurrentPage.URL)))}com'
              );
            </script>
            <c:SICo_CommunitiesHead_COMP />
            <c:SICo_CustomerArea_StyleSheets />

	    <style>
	    	@media (max-width:767px){
            	html{
              		min-height: 500px;
            	}
		    }
        @media (min-width:768px){
          #ForgotPassword.drupal{
            background-color: white;
          }
          #ForgotPassword .form.drupal{
            margin-top: 70px;            
            height: auto !important;
            width: 480px !important;
          }
          #ForgotPassword .topLoginContentContainer.drupal{
              border-width: 1px;
              border-color: black;
              border-style: solid;
              padding-bottom: 30px;
              padding-top: 20px;
          }
          #ForgotPassword .centerLoginContentContainer.drupal{
            padding-left: 100px;
            padding-right: 100px;
          }
          #ForgotPassword .texteSeConnecter.drupal{
            color: black !important;
            float: initial !important;
          }
          #ForgotPassword .divMailSend2.drupal{
            text-align: center !important;
            width: 100%;
          }
        }
	    </style>

      <apex:includeLightning rendered="{!isFromDrupal}"/>
	</head>

	<body id="ForgotPassword" class="{!IF((isFromDrupal),'drupal','')}">

      <div id="topbanner"/>

	  	<apex:form styleClass="form {!IF((isFromDrupal),'drupal','')}" id="forgotForm">
		    <!--apex:pageMessages id="error"/-->

		    <apex:outputPanel layout="block" styleClass="shadowErrorPopup" rendered="{!errorMessage != ''}">

		        <apex:outputPanel layout="block" styleClass="errorPopupContainer" rendered="{!errorMessage != ''}">
		            <apex:outputPanel layout="block" styleClass="topErrorPopupContainer">
		                <apex:outputText styleClass="titleErrorPopup" value="{!$Label.SICo_ErrorLoginTitle}"/><br/>
		                <apex:outputText styleClass="textErrorPopup" value="{!errorMessage}"/>
		            </apex:outputPanel>
		            <apex:outputPanel layout="block" styleClass="botErrorPopupContainer">
		                <apex:commandButton action="{!closeErrorPopup}" styleClass="closeErrorPopupButton" value="{!$Label.Sico_buttonCloseErrorPopup}" rerender="forgotForm"/>
		            </apex:outputPanel>
		        </apex:outputPanel>
	        </apex:outputPanel>

	        <!--Orange block desktop version -->
		    <apex:outputPanel layout="block" styleClass="fondColore" rendered="{!!isFromDrupal}"/>

		    <apex:outputPanel layout="block" styleClass="topLoginContentContainer {!IF((isFromDrupal),'drupal','')}">
		    	<apex:outputPanel id="fieldLoginContainer" layout="block" styleClass="centerLoginContentContainer {!IF((isFromDrupal),'drupal','')}">
		    		<apex:outputText value="{!$Label.SICo_Label_Login_Button}" styleClass="texteSeConnecter {!IF((isFromDrupal),'drupal','')}"/>

		    		<img class="logoBlanc" src="{!URLFOR($Resource.SICo_EspaceClient_Resources,'img/logoSoweeWhite/logoSoweeWhite@2x.png')}"/>
			        
			        <apex:input type="email" id="email" value="{!email}" styleClass="loginMdp champsSaisie col-xs-12 col-sm-12" html-placeholder="{!$Label.SICo_Login_Id_Placeholder}"/>

			        <apex:outputPanel layout="block" styleClass="divMailSend1 col-xs-12 col-sm-12">
			        	<apex:outputText value="{!$Label.SICo_Login_Message_Mail_Send}" styleClass="loginMdp mdpOublie"/>
			        </apex:outputPanel>

			        <!-- bloc message erreur-->
              <apex:outputPanel id="error" layout="block" styleClass="containerErrorLogin col-xs-12 col-sm-12" rendered="{!errorMessage != ''}">
                  <img class="logoErrorLogin" src="{!URLFOR($Resource.SICo_EspaceClient_Resources,'img/icon-error_login/icon-non-check@2x.png')}"/>
                  <apex:outputText styleClass="errorLoginText col-xs-10" value="{!errorMessage}"/>
              </apex:outputPanel>

			        <apex:commandButton id="submit" styleClass="ActivButton loginMdp" value="{!$Label.SICo_Label_Login_Button_Forgot_Pw}" action="{!forgotPassword}"/>

			        <apex:outputPanel layout="block" styleClass="divMailSend2 {!IF((isFromDrupal),'drupal','')} col-xs-12 col-sm-12">
			        	<apex:outputText value="{!$Label.SICo_Login_Message_Mail_Send}" styleClass="loginMdp mdpOublie"/>
			        </apex:outputPanel>

			    </apex:outputPanel>
		    </apex:outputPanel> 

		    <apex:outputPanel layout="block" styleClass="botLoginContentContainer" rendered="{!isRegistrationAllowed}">
	            <apex:outputText styleClass="loginMdp mdpOublie col-xs-12 col-sm-12" value="{!$Label.SICo_Login_No_Account}"/>
	            <apex:commandLink styleClass="loginMdp nouveauCompte col-xs-12 col-sm-12" action="{!register}" value="{!$Label.SICo_Login_New_Account}"/>
		    </apex:outputPanel>

	    </apex:form>
	</body>

</apex:page>