<apex:page showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" controller="SICo_MyQuotes_VFC">
    <html>
        <head>           
            <script>
                var jsAccountId = "{!JSENCODE(accountId)}";
                var jsCurrentPage = "{!$Label.SICo_Contracts}";

                var init = function(){ 
                	head.load(
	                    "{!$Resource.JQuery3}",
	                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/bootstrap.js')}",
                    	"{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_CommonComponentsScript.js')}",
	                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_ResponsiveScripts.js')}",
	                    "{!URLFOR($Resource.SICo_EspaceClient_Resources_MyQuotes, 'js/LoadComponents.js')}"
	                )
                }            	
            </script>
            <c:SICo_CommunitiesHead_COMP />
            <c:SICo_CustomerArea_StyleSheets />
            <apex:includeLightning />
        </head>

 		<body id="myQuotesBody">
            <div class="loader"/>
            <div id="topbanner" />

            <div>
                <div id="leftMenu" />

                <div id="contentContainer" class="container">
                    <h1 class="pageTitle col-xs-12">{! $Label.SICo_MyQuotes }</h1>
                    <div id="myQuotes" class="col-xs-12 col-md-12 col-lg-12"/>
                </div>
            </div>

            <!-- HELP SECTION -->
            <div id="helpSectionXS" class="visible-xs col-xs-12" />

        </body>
 	</html>
</apex:page>