<apex:page showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" controller="SICo_UnpaidBills_VFC">
	<html>
		<head> 
			<apex:stylesheet value="{!URLFOR($Resource.SICo_EspaceClient_Resources_PaymentSuccess, 'css/PaymentSuccess.css')}" />

            <script>
                var jsAccountId = "{!JSENCODE(accountId)}";
                var jsCurrentPage = "{!$Label.SICo_Invoices}";
				var init = function(){ head.load(
                    "{!$Resource.JQuery3}",
                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/bootstrap.js')}",
                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_CommonComponentsScript.js')}",
                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_ResponsiveScripts.js')}",                
	                function() {
	                	createGenericAppWithComponents();
	                }
                )}
			</script>
			<c:SICo_CommunitiesHead_COMP />
            <c:SICo_CustomerArea_StyleSheets />
            <apex:includeLightning />
        </head>

		<body id="paymentSuccess">

			<div class="loader"/>
	        <div id="topbanner" />
	        <div>
		        <div id="leftMenu" />

                <div id="contentContainer" class="container">
			        <div class="centeredContent">
			        	<div class="logoContainer">
			        		<apex:image value="{!URLFOR($Resource.SICo_EspaceClient_Resources_PaymentSuccess, 'img/icon-check-merci.png')}"/>
			        	</div>
			        	<div class="thanks boldLabel">
			        		{! $Label.SICo_PaymentSuccess_Merci }
			        	</div>
			        	<div class="paymentDone">
			        		{! $Label.SICo_PaymentSuccess_PaymentDone }
			        	</div>
			        	<div class="boldLabel changeBankAccount"> 
			        		{! $Label.SICo_PaymentSuccess_ChangementCompte }
			        	</div>
			        	<div class="normalLabel rdvInfoPerso"> 
			        		{! $Label.SICo_PaymentSuccess_RDVInfoPerso }
			        	</div>
			        	<div class="btnContainer">  
			        		<apex:outputLink value="{!dashboardLink}"> {! $Label.SICo_PaymentSuccess_RetourDashboard }</apex:outputLink>
			        	</div>
			        	<br/>
			        	<div class="lnkContainer boldLabel">
			        		<apex:outputLink styleClass="Text-Style-OrangeLink" value="updatebankdetails?accountId={!accountId}">{! $Label.SICo_PaymentSuccess_ModifierBanc }</apex:outputLink>
			        	</div>
			        </div>
		        </div>
			        
	            <!-- HELP SECTION -->
	            <div id="helpSectionXS" class="visible-xs col-xs-12" />
		    </div>
		</body>
	</html>
</apex:page>