<apex:page standardController="Account" applyBodyTag="false" applyHtmlTag="false" standardStylesheets="false" showheader="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <apex:stylesheet value="{!URLFOR($Resource.SLDS203, 'assets/styles/salesforce-lightning-design-system.css')}" />
            <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        </head>
        <body>
           <img src="{!URLFOR($Resource.screen)}" alt="person name" /> 
        </body>
    </html>
</apex:page>