<apex:page showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" controller="SICo_WebCallback_VFC" action="{!doRedirect}">
	<html>
		<head>
			<script>
	            var jsAccountId = "{!JSENCODE(accountId)}";
	            var jsCurrentPage = "{!$Label.SICo_MyCases}";

	            var init = function(){ head.load(
	                "{!$Resource.JQuery3}",
	                "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/bootstrap.js')}",
                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_CommonComponentsScript.js')}",
                    "{!URLFOR($Resource.SICo_EspaceClient_Resources, 'js/SICo_ResponsiveScripts.js')}",                
	                function() {
	                	createGenericAppWithComponents();
	                }
	            )}
	        </script>

	        <c:SICo_CommunitiesHead_COMP />
	        <c:SICo_CustomerArea_StyleSheets />
	        <apex:includeLightning />
	        
		</head>

		<body id="webCallback">

			<div class="loader"/>
			<div id="topbanner" />

			<div>
		        <div id="leftMenu" />

		        <apex:outputPanel layout="block" styleClass="pageContractBlueContainer">
	                <apex:outputPanel layout="block" styleClass="pageContractContainer">

	                	<apex:outputText styleClass="titleContracts" value="{!$Label.SICo_CallBackDemand}"/>

	                        <apex:form >

	                            <apex:outputPanel layout="block" styleClass="whiteContractContainer">
	                                
	                            		<apex:outputPanel >


		                            		<apex:outputText styleClass="detailText" value="{!$Label.SICo_LastName}"/>

		                            		<apex:inputText styleClass="pickList" value="{!lastName}"/>

		                            		<apex:outputText styleClass="detailText" value="{!$Label.SICo_FirstName}"/>

		                            		<apex:inputText styleClass="pickList" value="{!FirstName}"/>

		                            		<apex:outputText styleClass="detailText" value="{!$Label.SICo_PhoneNumber}"/>

	                            			<apex:inputText styleClass="pickList" value="{!phone}"/>

	                            			<apex:outputText styleclass="detailText" value="{!$Label.SIco_Topic}"/>
	                            			<apex:selectList styleClass="pickList" multiselect="false" size="1" value="{!subject}">
	                            			<apex:actionSupport action="{!updateObjects}" event="onclick" reRender="picklistObjectsData"/>
	                            			<apex:selectOptions value="{!motifs}" />
	                            			</apex:selectList>

	                            			<apex:outputText styleClass="detailText" value="{!$Label.SICo_Reason}"/>

	                            			<apex:selectList styleClass="pickList" multiselect="false" size="1" value="{!motif}">
	                            			<apex:selectOptions value="{!objects}" />
	                            			</apex:selectList>
	     

		                            	</apex:outputPanel>
	                            		
		                        	</apex:outputPanel>

	                        	<apex:outputPanel styleClass="centerContainer">
	                        		<apex:commandButton value="{!$Label.SICo_Send}" styleClass="sendButton" action="{!createCase}"/>

	                        		<apex:commandLink value="{!$Label.SICo_Cancel}" styleClass="link"/>
	                        	</apex:outputPanel>

	                        </apex:form>

	                </apex:outputPanel>
	            </apex:outputPanel>
		            
	            <!-- HELP SECTION -->
	            <div id="helpSectionXS" class="visible-xs col-xs-12" />
           </div>

    	</body>
    </html>
</apex:page>