.THIS{
	
}
.THIS .slds-modal__container{
  position: fixed;
  bottom: 0px;
  width: 40px;
}
.THIS.back{
	background: #ecf1f5  !important;
}
.THIS.chat{

  box-shadow: 0 2px 9px 0 rgba(58, 104, 158, 0.23);
  border: solid 1px #e7e7e7;
  display: block;
  padding-right: 200px;
  padding-bottom: 0px;

}

		.THIS .chat-header {
				color: white;
				background: #ff4a00;
				padding: 10px;
				width: 170px;
				z-index: 100;
				border-radius:4px 4px 0 0;
				line-height:20px;
				cursor:pointer;
				margin-left: 600px;
				display: block; 
				border: 0px none;
				cursor: pointer
			}
			

		.THIS .chat-icon {
				display:inline-block;
				width:20px;
				height:20px;
				margin:0 5px;
			    vertical-align: middle;
			}

		.THIS .chat-title {
				display:inline-block;
				height:20px;
			    vertical-align: middle;
			}

		.THIS	.chat-close {
			  vertical-align: middle;
				position:absolute;
				height:20px;
				width:20px;
				right:5px;
			}

		.THIS.chat.open .chat-close {
				display:inline-block;
			}

		.THIS.chat-window{
 		 width: 40px !important;
 		 border: 0px;
  		display: block;
}@media only screen and (max-width : 767px) {
	.THIS.chat{

		margin :auto;
	}
	.THIS .chat-header{

		margin : auto;
	}
	
}