.THIS{
	
}
.THIS .slds-modal__container{
  position: fixed;
  bottom: 0px;
  width: 260px;
}

.THIS .chat{
  background-color: white;
  box-shadow: 0 2px 9px 0 rgba(58, 104, 158, 0.23);
  border: solid 1px #e7e7e7;
}

		.THIS	.chat-header {
				color: white;
				background: #ff4a00;
				padding:10px;
				border-radius:4px 4px 0 0;
				line-height:20px;
				cursor:pointer;
			}
			

		.THIS	.chat-icon {
				display:inline-block;
				background-image:url('icon-chatenligne.png');
				width:20px;
				height:20px;
				margin:0 5px;
			    vertical-align: middle;
			}

		.THIS	.chat-title {
				display:inline-block;
				height:20px;
			    vertical-align: middle;
			}

		.THIS	.chat-close {
			  vertical-align: middle;
				position:absolute;
				height:20px;
				width:20px;
				right:5px;
			}

		.THIS	.chat.open .chat-close {
				display:inline-block;
			}

.THIS .chat-window{
  width: 260px;
  border: 0px;
}@media only screen and (max-width : 767px) {
	.THIS.sidebar-nav.helpSection {
		list-style-type: none;
		margin: 50px -30px 0;
		padding: 0;
	    background-color: #ffffff;
	}
	.THIS.sidebar-nav.helpSection li {
		padding-left: 30px;
	}
	.THIS.sidebar-nav.helpSection .firstHelpElement a:hover, .THIS.sidebar-nav.helpSection .leftMenuHelpItem:hover,.THIS.sidebar-nav.helpSection a, .THIS.sidebar-nav.helpSection a:hover, .THIS.sidebar-nav.helpSection a:focus, .THIS.sidebar-nav.helpSection a:active, .THIS.sidebar-nav.helpSection a:visited{
		text-decoration: none;
		outline: none;
	}
	.THIS.sidebar-nav.helpSection .firstHelpElement{
		background-color: #ecf1f5;
    	background-color: var(--pale-grey-two);
	}
	.THIS.sidebar-nav.helpSection .firstHelpElement a{
		font-family: HouschkaPro-Bold;
	    font-size: 20px;
	    line-height: 40px;
	    margin-left: 0;
	    display: block;
	    font-family: HouschkaPro-Medium;
	    font-size: 18px;
	    line-height: 50px;
	    color: #3f3830;
	    color: var(--greyish-brown);
	}
	.THIS.sidebar-nav.helpSection .leftMenuHelpItemBigger {
	    height: auto;
	    padding-bottom: 8px;
	}
	.THIS.sidebar-nav.helpSection li {
	    height: 40px;
	    background-color: #f7fbfe;
	    background-color: var(--duck-egg-blue);
    	border-bottom: 1px solid rgba(151, 151, 151, 0.2);
	}
	.THIS.sidebar-nav.helpSection li a{
	    display: block;
	}
	.THIS.sidebar-nav.helpSection .leftMenuHelpItem .leftMenuTitle {
	    font-family: HouschkaPro-Bold;
	    font-size: 20px;
	    line-height: 40px;
	}
	.THIS.sidebar-nav.helpSection .leftMenuHelpItem .leftMenuSubTitle {
	    font-family: HouschkaPro-Bold;
	    font-size: 16px;
	    line-height: 40px;
	    color: #fe5815;
	    color: var(--brand-color);
	}
	.THIS.sidebar-nav.helpSection .leftMenuHelpItem .leftMenuContent {
	    font-family: HouschkaPro-Medium;
	    font-size: 14px;
	    line-height: 22px;
	    color: #b5b6b7;
	    color: var(--cool-grey-two);
	}
}