.THIS {
}

.THIS.page {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 43.2%;
  height: 2px;
  background-color: #fe5815;
}
  
.THIS .zoneOne,  .THIS .zoneTwo {
  border-bottom: 2px solid #fe5815;
  width: 186px;
  margin: auto;
  margin-bottom: 39px;
}

.THIS .zoneTwo {
  margin-bottom: 60px;
}

.THIS .underTitle {
  font-family: HouschkaPro-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.29;
  letter-spacing: 0.4px;
  text-align: center;
  color: #6f6361;
  margin-bottom: 1px;
}
 
.THIS .smallInput {
  width: 40px !important;
}

.THIS .input {
  width: 120px !important;
  height: 40px !important;
}

.THIS .unit {
  text-align: center;
  font-family: HouschkaPro-Medium;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #6f6361;
  /*border-bottom: 2px solid #fe5815;
  padding-bottom: 1px;*/
}

.THIS .rectangle {
  width: 180px;
  border-top: 2px solid #fe5815;
  margin-top: 5px;
  margin-bottom: 39px;
} 

/* Label */
.THIS label {
  width: 200px;
  height: 100px;
}