.THIS {
}
.THIS hr {
	margin-top: 15px;
	margin-bottom: 15px;
}
.THIS.whiteBlock {	
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;  
	padding-top: 0px;  
}
.THIS .quoteDetailContainer {
	font-family: 'HouschkaPro-Medium';
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
}
.THIS .quoteLineContainer table {
	margin-top: 25px;
	margin-bottom: 25px;
	border: solid 1px #e7e7e7;
	border-radius: 2px;
	width: 100%;
}
.THIS .quoteLineContainer table thead {
	height: 54px;
	background-color: #f7fbfe;
	border-bottom: solid 1px #e7e7e7;
}   
.THIS .quoteLineContainer table thead th {
	font-family: HouschkaPro-Medium;
	font-size: 14px;
	padding-left: 10px;
	color: #b5b6b7;
}

.THIS .quoteLineContainer table tr {
	height: 54px;
}
.THIS .quoteLineContainer table tr td {
	font-family: HouschkaPro-Medium;
	padding-left: 10px;
	font-size: 14px;
	color: #6f6361;
	border-bottom: solid 1px rgba(151, 151, 151, 0.2);
	border-top: solid 1px rgba(151, 151, 151, 0.2);
}
.THIS .totalLabel {
	padding-right: 20px;
	text-decoration: underline;
}
.THIS .btnAccept {
	width: 110px;
    height: 40px;
    border-radius: 100px;
    border-width: 0px;
    background-color: #16b116;
    font-family: HouschkaPro-Bold;
    font-size: 15px;
    color: #ffffff; 
    text-align: center; 
    margin-bottom: 35px;
    outline: none;
}
.THIS .btnRefuse {
	width: 110px;
    height: 40px;
    border-radius: 100px;
    border-width: 0px;
    background-color: #c32121;
    font-family: HouschkaPro-Bold;
    font-size: 15px;
    color: #ffffff; 
    text-align: center; 
    margin-bottom: 35px;
    outline: none;
}
.THIS .btnContainer {
	margin-right: 10%;
	float: right;
}
.THIS .statusContainer {
	font-size: 15pt;
}
.THIS .validationTodo {
	font-weight: bold;
}
.THIS .accepted {
	color: #16b116;
}
.THIS .refused {
	color: #c32121;
}
.THIS .obsolete {
	color: #949494;
}

@media (max-width:768px) { 
	.THIS .quoteLineContainer table {
	    width: 98%;
	    margin-left: 1%;
	    margin-right: 1%;
	}
	.THIS .quoteLineContainer table thead th { 
		font-size: 0.7em; 
	}
	.THIS .quoteLineContainer table tr td { 
		font-size: 0.7em; 
	}
}
@media (min-width:768px) and (max-width:1000px) {
	.THIS .quoteLineContainer table thead th { 
		font-size: 1.1vw; 
	}
	.THIS .quoteLineContainer table tr td { 
		font-size: 1.1vw; 
	}
}