.THIS {
}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 14.4%;
  height: 2px;
  background-color: #fe5815;
} 
  
.THIS .btnHouse img, .THIS .btnFirst img {
  width: 46px;
  height: 35px;
  margin-bottom: 13px;
}

.THIS .btnAppartment img {
  width: 42px;
  height: 40px;
  margin-bottom: 9px;
}

.THIS .btnSecond img {
  width: 67px;
  height: 42px;
  margin-bottom: 6px;
}

/*mentions légales*/
.THIS .centralBlock .mentionsLegales {
  font-style: italic;
  color: #696969;
  margin: 10px;
}

/* Label */
.THIS label {
  width: 200px;
  height: 100px;
  padding-top: 19px;
}

  
@media (max-width: 800px){   
  /*mentions légales plus petites sur mobile*/
  .THIS .centralBlock .mentionsLegales {
    font-size: 10px;
  }
}