.THIS {
}

.THIS hr {
	margin-top: 15px;
	margin-bottom: 15px;
}
.THIS.whiteBlock {	
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;  
	padding-top: 0px;  
}
.THIS .quotesContainer {
	font-family: 'HouschkaPro-Medium';
	width: 90%;
	margin-left: auto;
	margin-right: auto;    
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
}
.THIS .creationDate {
	font-family: HouschkaPro-Medium;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    color: #b5b6b7;
    color: var(--cool-grey-two);
    display: inline;
} 
.THIS .clickable {
	cursor: pointer;
}
.THIS a:hover {
	color: #fe5815;
}
.THIS .validationTodo {
	font-weight: bold;
}
.THIS .accepted {
	color: #16b116;
}
.THIS .refused {
	color: #c32121;
}
.THIS .obsolete {
	color: #949494;
}