.THIS {
    padding-right: 5px;
    padding-left : 5px;

}
.THIS.whiteBlock {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    padding-top: 30px;
    padding-bottom: 20px;
    /* height: 300px; */
    /* display: inline-block !important; */
}
.THIS.whiteBlock .whiteBlockImgContainer {
    margin-bottom: 20px;
}
.THIS.whiteBlock p:not(.infoBolder){
    font-family: HouschkaPro-Medium;
    font-size: 16px;
    color: #3f3830;
    color: var(--greyish-brown);
}
h2.THIS {
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
}
.THIS a.Text-Style-OrangeLink {
    display: block;
    line-height: 1.8;
}
.THIS a.Text-Style-OrangeLink:focus, .THIS .Text-Style-OrangeLink:active, .THIS .Text-Style-OrangeLink:hover {
    text-decoration: none;
    color: #fe5815;
    color: var(--brand-color);
}
.THIS .email {
	word-wrap: break-word;
}