.THIS {
}
.THIS.whiteBlock { 
    /* height: 269px; */
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    padding-top: 21px;
    padding-bottom: 20px;
    width:100%;
}
.THIS.whiteBlockButton { 
    height: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(58, 104, 158, 0.09);
    border: solid 1px #e7e7e7;
    border-top: none;
    padding-top: 5px;
    white-space: nowrap;
    width: 100%;
    
}
.THIS.whiteBlock .whiteBlockImgContainer {
    margin-bottom: 20px;
}
.THIS.whiteBlock p:not(.infoBolder){
    font-family: HouschkaPro-Medium;
    /*font-size: 16px;*/
    font-size:inherit;
    color: #3f3830;
    color: var(--greyish-brown);
    margin-bottom: 2px;
}
.THIS p.name {
    font-family: HouschkaPro-Bold !important;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    color: #3f3830;
    color: var(--greyish-brown);
	word-wrap: break-word;
}
.THIS p.mail {
    font-family: HouschkaPro-Medium;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    color: #3f3830;
    color: var(--greyish-brown);
	word-wrap: break-word;
}
.THIS.whiteBlock p.phone{
    margin-top: 10px;
    height: 22px;
    font-family: HouschkaPro-Medium;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    color: #3f3830;
    color: var(--greyish-brown);
}
.THIS.whiteBlock p.energyTitle {
    font-family: HouschkaPro-Medium;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
    margin-top: 20px;
    white-space: nowrap;
}
h2.THIS {
    font-family: HouschkaPro-Bold;
    font-size: 14px;
    color: #b5b6b7;
    color: var(--cool-grey-two);
}
.THIS a.Text-Style-OrangeLink {
    display: block;
    line-height: 1.8;
}
.THIS a.Text-Style-OrangeLink:focus, .THIS .Text-Style-OrangeLink:active, .THIS .Text-Style-OrangeLink:hover {
    text-decoration: none;
    color: #fe5815;
    color: var(--brand-color);
}
.THIS .progress {
  	height: 12px; 
  	border-radius: 8px;
  	border: solid 1px #e8e9ec;
  	border: solid 1px var(--pale-grey);
  	padding: 0;
    margin-top: 13px;
    margin-bottom: 0px;
    width: 75%;
}
.THIS .progress .progress-bar{
  	height: 6px;
  	margin: 3px;
  	border-radius: 8px;
  	background-color: #fe5815;
    background-color: var(--brand-color);
}
.THIS .energyPercent {
  	line-height: 12px;
    margin-top: 13px;
}