.THIS {
}

.THIS.page{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.THIS .titleBlock, .THIS .centralBlock{
  text-align: center;
}

.THIS .titleBlock{
  margin-top: 87px;
  margin-bottom: 57px;
}

.THIS .titleBlock h2{
  font-family: HouschkaPro-DemiBold;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.17;
  text-align: center;
  color: #3f3830;
}

.THIS .centralBlock h3{
  font-family: HouschkaPro-Bold;
  font-size: 20.3px;
  font-weight: bold;
  line-height: 1.08;
  text-align: center;
  color: #3f3830;
  margin-bottom: 10px;
}

.THIS .underTitle{
  font-family: HouschkaPro-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.29;
  letter-spacing: 0.4px;
  text-align: center;
  color: #6f6361;
  margin-bottom: 1px;
}

/*buttons*/
.THIS label{
  margin-bottom: 30px;
  width: 200px;
  height: 100px;
  border-radius: 2px;
  border: solid 1px #e1e1e1;
  margin-right: 15px;
  margin-left: 15px;
  background-color: rgba(0,0,0,0);
  vertical-align: top;
  padding-top: 19px !important;
}

.THIS input[type="text"], .THIS input::-webkit-input-placeholder{
  border: none;
  /*width: 100px;*/
  height: 34px;
  padding-bottom: 5px;
  text-align: center;
  font-family: HouschkaPro-Medium;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #e8e9ec;/*#6f6361;*/
  width: 180px;
  border-bottom: 2px solid #fe5815;
}
.THIS input[type="text"]{
  color: #6f6361;
}

.THIS .unit{
  text-align: center;
  font-family: HouschkaPro-Medium;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #6f6361;
}

.THIS .rectangle{
  width: 180px;
  border-top: 2px solid #fe5815;
  margin-top: 5px;
  margin-bottom: 39px;
}

.THIS input:-moz-placeholder, .THIS input::-webkit-input-placeholder{
  color: #e8e9ec !important;
  /*font-size: 8px !important;*/
}

/*button validate*/
.THIS .btnValidate{
  width: 125px;
  height: 42px;
  border-radius: 100px;
  background-color: #fe5815;
  border: 0px !important;
  font-family: HouschkaPro-Bold;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  margin: auto;
  display: block;
  margin-top: 60px;
}
.THIS .btnValidate.btnValidateDisabledTemp { 
  background-color: #747474!important; 
}
.THIS .errorContainer {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.THIS button:focus{
  outline: none !important;
}

.THIS a{
  text-decoration: none !important;
}