.THIS.status{
  width: 99px;
  height: 27px;
  line-height: 27px;
  font-family: HouschkaPro-DemiBold;
  font-size: 14px;
  color: #ffffff;
  background-color: #00ceaa;
  margin-bottom: 14px;
  border-radius: 70px;
  margin-left: auto;
  margin-right: auto;
}

.THIS.statusRed{
  background-color: #e53131;
  width: 130px; 
}

.THIS.statusProgress{
  width: 180px;
}