.THIS {
}

/*progress bar*/
.THIS .progressBar {
  width: 100%;
  height: 2px;
}

.THIS .progressBar .orangeBar {
  margin-left: -35px;
  width: 93.6%;
  height: 2px;
  background-color: #fe5815;
}

.THIS .explanation {
  margin-top: 8px
}

/*buttons*/
.THIS .bigLabel {
  /*margin-bottom: 30px;*/
  width: 250px;
  height: 115px;
  border-radius: 2px;
  border: solid 1px #e1e1e1;
  margin-right: 15px;
  margin-left: 15px;
  background-color: rgba(0,0,0,0);
  vertical-align: top;
  /*padding-top: 19px !important;*/
}

.THIS .smallLabel {
  padding-top: 20.4px;
  margin-bottom: 30px;
  width: 115px;
  height: 61px;
  border-radius: 2px;
  border: solid 1px #e1e1e1;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgba(0,0,0,0);
  vertical-align: top;
}
 
.THIS .btnBase img {
  /*width: 46px;*/
  height: 38px;
  margin-top: 21px;
  margin-bottom: 25px;
}

.THIS .btnHPHC img {
  /*width: 46px;*/
  height: 38px;
  margin-top: 21px;
  margin-bottom: 3.4px;
}

.THIS .bigLabel .txtBtn {
  font-family: HouschkaPro-Medium;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  text-align: center;
  color: #3f3830;
}

.THIS .smallLabel .txtBtn {
  font-family: HouschkaPro-Medium;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  text-align: center;
  color: #3f3830;
}

.THIS #row1{
  width: 500px;
  margin: auto;
}

@media (max-width: 800px){  
  .THIS .bigLabel {
    width: 130px;
  }

  .THIS .smallLabel {
    width: 80px;
  }

  .THIS #row1{
    width: 70% !important;
  }

  .THIS .btnHPHC img {
    margin-bottom: 13px;
  }
}

@media (max-width: 430px){
  .THIS #row1{
    width: 95% !important;
  }
}

@media (min-width: 800px) and (max-width: 930){
  .THIS #row1{
    width: 300px!important;
  }
}